/* open sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* yellowtail */
@import url(https://fonts.googleapis.com/css?family=Yellowtail);

/* monsterrat */
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

/* merriweather */
@import url(https://fonts.googleapis.com/css?family=Merriweather:300italic,300,900,700);

body {
  font-family: 'Open Sans';
  padding-bottom: 50px;
}

header {
  margin-top: 30px;
}

#title {
  font-family: 'Yellowtail';
  font-size: 84px;
  border-bottom: 5px solid #EEE;
}

#title a {
  color: #000;
}

#title a:hover,
#title a:focus,
#title a:active {
  text-decoration: none;
}

/* navbar */

#navbar li {
  font-family: 'Montserrat';
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin: 0px 15px 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: border 0.2s ease;
          transition: border 0.2s ease;
}

#navbar li:hover {
  border: 2px solid #A3A3A3;
  border-radius: 7px;
  -webkit-transition: border 0.2s ease-in;
          transition: border 0.2s ease-in;
}

@media only screen and (max-width: 992px) {
  #navbar li {
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin: 0px 5px 10px 5px;
    font-size: 16px;
  }
}

/* footer */

.footer-wrapper {
  height: 50px;
  background: #FFF;
}

.footer-wrapper .container {
  height: 100%;
  border-top: 1px solid #EEE;
}

.icon-wrapper {
  margin-top: 10px;
}

.icon-wrapper .fa {
  margin-left: 15px;
  color: #A3A3A3;
  -webkit-transition: color 0.2s ease-out;
          transition: color 0.2s ease-out;
}

.icon-wrapper .fa:hover {
  color: #000;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
          transition: color 0.2s ease-in;
}

/* content */
.content-wrapper {
  margin-top: 10px;
}