<div class='about-wrapper fadeIn'>
  <div ng-repeat='content in aboutContent' class='row'>
    <div class='about-section'>
      <div class='about-title'>
        {{ content.title }}
      </div>
      
      <div class='col-xs-7 col-md-5 col-lg-4 about-spacer' ng-class="{'pull-right': content.imgRight}">
        <div class='about-content text-center'>
          <div class='about-image'>
            <img src='{{ content.img }}'>
          </div>
        </div>
      </div>

      <div class='col-xs-4 col-md-5 col-lg-6 about-spacer'>
        <div class='about-content'>
          <p>{{ content.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>