<div class='row'>
  <div class='col-xs-4' ng-repeat='project in projects'>
    <div class='project-wrapper zoomIn' ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
      <img ng-class="{'proj-img-hover': hover}" src='{{ project.img }}'>
      <div ng-class="{'project-desc': hover}">
        <div class='row proj-title'>
          <div class='col-xs-10 col-xs-offset-1 text-center'>
            {{ project.title }}
          </div>
        </div>

        <div class='row proj-links-wrapper'>
          <div class='col-xs-12 text-center'>
            <a ng-if='project.preview.length' class='btn proj-btn' href='{{ project.preview }}' target='_blank'>Live Preview</a>
            <a class='btn proj-btn' href='{{ project.github }}' target='_blank'>View on GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='col-xs-12 text-center'>
    <a class='btn more-btn' href='https://github.com/leedu708' target='_blank'>My Github</a>
  </div>
</div>