<div class='row'>
  <div class='col-xs-4'>
    <div class='project-wrapper zoomIn' ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
      <img ng-class="{'proj-img-hover': hover}" src='images/placeholder.png'>
      <div ng-class="{'project-desc': hover}"></div>
    </div>
  </div>
  <div class='col-xs-4'>
    <div class='project-wrapper zoomIn'>
      <img src='images/placeholder.png'>
    </div>
  </div>
  <div class='col-xs-4'>
    <div class='project-wrapper zoomIn'>
      <img src='images/placeholder.png'>
    </div>
  </div>

  <div class='col-xs-4'>
    <div class='project-wrapper zoomIn'>
      <img src='images/placeholder.png'>
    </div>
  </div>
  <div class='col-xs-4'>
    <div class='project-wrapper zoomIn'>
      <img src='images/placeholder.png'>
    </div>
  </div>
  <div class='col-xs-4'>
    <div class='project-wrapper zoomIn'>
      <img src='images/placeholder.png'>
    </div>
  </div>
</div>